.w-100-height {
  height: 90vh;
  width: 100%;
}

.masthead {
  width: 100%;
  display: block;
  min-height: 30vh;
  background-size: cover;
  max-height: 60vh;
}
.carousel-caption h2 {
  color: #ffffff;
  text-align: left;
  font-size: clamp(20px, 5vw, 60px);
}
.carousel-caption h1 {
  color: #faff00;
  text-align: left;
  font-size: clamp(30px, 7vw, 80px);
  font-size: oblique;
  font-weight: 1000;
  letter-spacing: 3px;
}
.carousel-caption {
  position: absolute;
  top: clamp(10px, 2vw, 50px);
  left: clamp(10px, 2vw, 70px);
}

.navbar {
  background-color: black;
  height: 72px;
  margin: 0.5rem;
}

.login-button {
  background-color: #FAFF00;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 1px 17px;
  height: 25px;
  width: 80px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s ;
}

.login-button:hover {
  background-color: #6C6A6A;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.navbar-nav {
  margin-left: 100px;
}

.nav-link:hover, .nav-link.active {
  color: #FAFF00;
}

/*Feature Section*/
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1f0b0b;
}

.feature {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  margin: 10px;
}

.feature img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
  font-family: Lato;
}

.feature p {
  font-size: 1rem;
  color: white;
  font-family: Lato;
}

/*About Section*/
.about {
  background-color: #484242;
  padding: 40px 0;
}
/*text side*/
.about-text h2 {
  color: #faff00;
  font-weight: bold;
  margin-top: 20px;
  font-size: 34px;
}
.about-text p {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
}
/*image side*/
.about-img img {
  width: 70%;
  height: auto;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 1;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about-text h2 {
    font-size: 24px;
  }
  .about-text p {
    font-size: 14px;
  }
}

/*Menu section*/
.menutopic {
  background-color: black;
  color: #faff00;
  min-width: fit-content;
  max-width: 350px;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 auto;
}
.card {
  background-color: #1f0b0b;
  border-radius: 20px;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
  max-width: 320px;
  min-width: 200px;
}
.card-img-container {
  background-color: #1f0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 300px;
  max-height: 300px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card .btn {
  background-color: #faff00;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bolder;
  width: 55%;
  cursor: pointer;
  min-width: fit-content;
}
.card .btn:hover,
.card .btn:focus,
.card .btn:active {
  background-color: #9ba49b;
  color: #000000;
  outline: none;
  border: none;
  box-shadow: none;
}

/*for screens between 320px and 576px */
@media (max-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin-bottom: 10px; /* Space between cards */
  }

  .card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .card-img-container {
    height: 250px;
  }
}

/*for screens up to 768px */
@media (max-width: 768px) {
  .menutopic h2 {
    font-size: 24px;
  }
  .menu-padding {
    padding: 10px 0;
  }
  .card-img-container {
    height: 250px;
  }
  .col {
    margin-bottom: 3px;
  }
}
/*offer section*/
.carousel-container {
  max-width: 795px;
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.carousel-inner img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(#6c6a6a, #1e1e1e);
}
