/* Sidebar styles */
.sidebar {
  background-color: black;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  /* transition: all 0.01s;*/
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo-img {
  width: 180px;
  height: auto;
  margin-top: 40px;
}
.nav-links {
  margin-top: 70px;
}
.nav-link {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  border: 2px solid white;
  text-align: left;
  text-decoration: none;
  /*transition: all 0.01s;*/
  border-radius: 10px;
  width: 240px;
  height: 55px;
  margin-left: 3px;
}

.nav-link:hover {
  background-color: #fad700;
  color: black;
  font-weight: bold;
}
.nav-link.active {
  background-color: #fad700;
  color: black;
  font-weight: bold;
}
/* Toggle Button */
.toggle-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding: 10px; /* Optional: Add some padding */
  border: none;
}

.toggle-btn {
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
  background-color: transparent;
  font-size: 24px; /* Adjust font size */
  font-weight: bolder;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Very light border */
  padding: 5px;
  box-shadow: none;
}

.sidebar-frame {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
}

/* Main content */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* Media Query for small screens */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  .sidebar.show {
    width: 250px;
    padding: 4px;
  }

  .content {
    margin-left: 0;
  }

  .toggle-btn {
    display: block;
  }
}
body {
  background-color: #6c6a6a;
}
