body{
    color: white;
}

.modal-content{
    background-color:#2d2d2d !important;
}

.modal-dialog-custom{
    max-width: 50%;

}
.btn-custom{
    box-sizing: border-box;
    background-color: yellow;
    padding: 5px;
    width: 100px;
    font-weight: 500;
}
.custom-title{
    box-sizing: border-box;
}

.button-section{
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
}