.admin-list {
  background-image: linear-gradient(#6c6a6a, #1e1e1e) !important;
}

.left-section {
  background-color: black;
  height: 100vh;
}

.admin-list h3 {
  color: white;
  padding: 10px;
}

.custom-btn {
  box-sizing: border-box;
  background-color: yellow;
  font-weight: 500;
}

.custom-btn:hover {
  background-color: #9ba49b !important;
  border: 1px solid #faff00 !important;
  transition: background-color 0.3s, color 0.3s !important;
}

/*add admin modal css*/

body {
  color: white;
}

.modal-content {
  background-color: #2d2d2d !important;
}

.modal-dialog-custom {
  max-width: 50%;
}
.btn-custom {
  box-sizing: border-box;
  background-color: #fad700;
  padding: 5px;
  width: 100px;
  font-weight: 500;
}
.custom-title {
  box-sizing: border-box;
}

.button-section {
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: center;
}
.container-fluid {
  margin-left: 300px;
  padding: 0;
}
@media (max-width: 768px) {
  .container-fluid {
    margin-left: 0;
    padding: 10px;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
  #adminListContainer {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
