.form-container {
  background-image: linear-gradient(#6c6a6a, #1e1e1e);
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
  width: 80%;
  margin: 50px auto;
}

.header-container {
  color: #fad700;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  background-color: #ffffff;
  border: none;
  margin-bottom: 10px;
  color: #000000;
  transition: none;
}

.form-control:focus {
  box-shadow: none;
}

.input-group-text {
  height: 20%;
}

.btn-confirm {
  background-color: #fad700;
  border: none;
  color: #1e1e1e;
  height: 35px;
  width: 100px;
  border-radius: 5px;
}
