body {
  overflow-x: hidden;
  height: 100%;
  background-color: #1e1e1e !important;
}

.content {
  margin-left: 300px;
  padding: 10px;
}

.container h2 {
  color: #c59d5f;
}

/* Menu section */
.menutopic h2 {
  margin: 0;
  text-align: left;
  padding: 0;
}
        .category-image {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .category-name {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            color: #c59d5f;
        }

/*Order Summary Section*/
.order-summary-box {
      background-color: transparent;
      border: 2px solid #ffffff;
       box-shadow: 0 4px 10px rgba(165, 154, 154, 0.6);
      border-radius: 10px;
      padding: 20px;
      position: relative;
    }
    .order-title {
      
      font-weight: bold;
      margin-bottom: 20px;
       color: #c59d5f;
    }
    .order-summary-box h4 {
  color: white;
  font-size: 36px;
}
.order-summary-box p{
  font-weight: bold;
}
    .chart-container {
      background-color: #e9ecef;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
    }

/*offer section*/
.special-offer-img {
  width: 300px;
  height: 150px;
}

.modal-content {
  background-color: #666;
  color: #c59d5f;
}

.modal-header {
  background-color: #000;
  color: #c59d5f;
}

#closeModal {
  color: #ffffff;
}

.modal-footer button {
  width: 100px;
  background-color: #c59d5f;
  border: none;
  color: black;
  font-weight: bold;
}

.modal-footer button:hover {
  background-color: #c59d5f;
}

.form-control {
  background-color: #555;
  border: none;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  background-color: #444;
  color: #c59d5f;
}

/* Special offer section styles */
.offer-img-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.offer-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.offer-img-container .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
}

.custom-yellow {
  background-color: #c59d5f;
  color: black;
  border: 2px solid #c59d5f;
  font-weight: bolder;
  margin-bottom: 20px;
}

.custom-yellow:hover,
.custom-yellow:active {
  background-color: transparent;
  color: #c59d5f;
  font-weight: bold;
}

.custom-yellow-outline {
  background-color: transparent;
  color: #c59d5f;
  border: 2px solid #c59d5f;
  margin-bottom: 20px;
}

.custom-yellow-outline:hover {
  background-color: #c59d5f;
  color: black;
  font-weight: bold;
}
p {
  color: #ffffff;
}

/* Menu section */
.menutopic h2 {
  margin: 0;
  text-align: left;
  padding: 0;
}

#beverageCard,
#cakeCard,
#pizzaCard {
  background-color: #1f0b0b;
  border-radius: 20px;
  overflow: hidden;
  max-width: 150px;
  max-height: 170px;
  min-width: 80px;
  width: 100%;
  margin-bottom: 5px;
}

.card-img-container {
  background-color: #1f0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 300px;
  max-height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col {
  padding: 0;
}

/* Centering for small screens */
@media (max-width: 1024px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin: 0;
  }

  body {
    margin-left: 300px;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

/* for screens up to 768px */
@media (max-width: 768px) {
  .menutopic h2 {
    font-size: 24px;
    justify-content: left;
  }

  .menu-padding {
    padding: 10px 0;
  }

  .col {
    margin-bottom: 3px;
    padding: 0;
  }
  body {
    margin-left: 0;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .row {
    max-width: 1200px;
    justify-content: center;
    min-width: fit-content;
    padding-left: 8%;
  }
  body {
    margin-left: 300px;
    overflow-x: hidden;
  }
}
@media (max-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
  body {
    height: 100%;
    overflow-x: hidden;
  }
}
@media (max-width: 320px) {
  .order-summary-box p {
    font-size: 16px;
  }
}
