body {
  overflow-x: hidden;
  height: 100%;
  background: linear-gradient(#6c6a6c, #1e1e1e) !important;
}

.content {
  margin-left: 300px;
  padding: 10px;
}

.container h2 {
  color: #fad700;
}

/* Menu section */
.menutopic h2 {
  margin: 0;
  text-align: left;
  padding: 0;
}

#beverageCard,
#cakeCard,
#pizzaCard {
  background-color: #1f0b0b;
  border-radius: 20px;
  overflow: hidden;
  max-width: 150px;
  max-height: 170px;
  min-width: 80px;
  width: 100%;
  margin: 0 0 5px 0;
}

.card-img-container {
  background-color: #1f0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 300px;
  max-height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col {
  padding: 0;
}

.card h5 {
  text-align: center;
  color: #fad700;
}

/*Order Summary Section*/
.order-summary-box {
  background-color: #505050;
  padding: 20px;
  border-radius: 8px;
  color: white;
  position: relative;
  max-width: 210px;
  margin: 0;
  min-height: 150px;
}

.order-summary-box h4 {
  color: white;
  font-size: 36px;
}

.order-summary-box p {
  font-size: 20px;
}

.arrow {
  position: absolute;
  right: 15px;
  bottom: 20px;
  font-size: 24px;
  color: white;
}

.arrow-link {
  text-decoration: none;
}

.arrow-link:hover .arrow {
  color: #fad700;
}

/*offer section*/
.special-offer-img {
  width: 300px;
  height: 150px;
}

.modal-content {
  background-color: #666;
  color: #fad700;
}

.modal-header {
  background-color: #000;
  color: #fad700;
}

#closeModal {
  color: #ffffff;
}

.modal-footer button {
  width: 100px;
  background-color: #fad700;
  border: none;
  color: black;
  font-weight: bold;
}

.modal-footer button:hover {
  background-color: #fad700;
}

.form-control {
  background-color: #555;
  border: none;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  background-color: #444;
  color: #fad700;
}

/* Special offer section styles */
.offer-img-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.offer-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.offer-img-container .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
}

.custom-yellow {
  background-color: #fad700;
  color: black;
  border: 2px solid #fad700;
  font-weight: bolder;
  margin-bottom: 20px;
}

.custom-yellow:hover,
.custom-yellow:active {
  background-color: #666;
  color: #fad700;
  font-weight: bold;
}

.custom-yellow-outline {
  background-color: transparent;
  color: #fad700;
  border: 2px solid #fad700;
  margin-bottom: 20px;
}

.custom-yellow-outline:hover {
  background-color: #fad700;
  color: black;
  font-weight: bold;
}
p {
  color: #fad700;
}

/* Menu section */
.menutopic h2 {
  margin: 0;
  text-align: left;
  padding: 0;
}

#beverageCard,
#cakeCard,
#pizzaCard {
  background-color: #1f0b0b;
  border-radius: 20px;
  overflow: hidden;
  max-width: 150px;
  max-height: 170px;
  min-width: 80px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

.card-img-container {
  background-color: #1f0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 300px;
  max-height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col {
  padding: 0;
}

/* Centering for small screens */
@media (max-width: 1024px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin: 0;
  }

  .card-img-container {
    height: 250px;
  }
  body {
    margin-left: 300px;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

/* for screens up to 768px */
@media (max-width: 768px) {
  .menutopic h2 {
    font-size: 24px;
    justify-content: left;
  }

  .menu-padding {
    padding: 10px 0;
  }

  .card-img-container {
    height: 250px;
  }

  .col {
    margin-bottom: 3px;
    padding: 0;
  }
  body {
    margin-left: 0;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .row {
    max-width: 1200px;
    justify-content: center;
    min-width: fit-content;
    padding-left: 8%;
  }
  body {
    margin-left: 300px;
    overflow-x: hidden;
  }
}
@media (max-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #card {
    width: 100%;
    max-width: 150px;
    margin-bottom: 5px;
  }

  .card-img-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
  body {
    height: 100%;
    overflow-x: hidden;
  }
}
@media (max-width: 320px) {
  .order-summary-box p {
    font-size: 16px;
  }
}
