body {
  background: linear-gradient(#6c6a6a, #1e1e1e);
  color: #f0e68c;
}
.table th,
.table td {
  vertical-align: middle;
}
.table {
  width: 90%;
}
.action-icons {
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  padding: 5px; /* Ensure padding remains consistent */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent; /* No background to avoid button growing on hover */
  gap: 10px;
}
.table tbody td {
  background-color: #4d4d4d;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #f1a501;
  border: none;
  color: black;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: crimson;
  border: none;
  color: white;
}
.content {
  margin-left: 300px;
  padding: 10px;
}
.container {
  margin: 260px;
}
@media (max-width: 768px) {
  .container {
    margin: 0;
  }
  .content {
    max-width: 100vw;
  }
  .action-icons {
    max-width: 5px;
    max-height: 5px;
  }
}

/*modal*/
.modal-content {
  background-color: #444649; /* Dark background for the modal */
  color: #fff; /* White text */
  border-radius: 8px; /* Smooth corners */
}

.modal-header,
.modal-footer {
  border: none; /* Remove borders from header and footer */
}
.modal-title {
  color: #fad700;
}
.modal-body {
  padding: 20px;
}
.btn-primary {
  background-color: #fad700; /* Yellow button background */
  border: none; /* No border */
  color: #000; /* Black text */
}

.btn-primary:hover {
  background-color: #e0c400; /* Darker yellow on hover */
  color: #000;
  font-weight: bold;
}
.close {
  color: #ff0000; /* White close button */
  background-color: transparent; /* Transparent background */
  border: 1px;
  border-color: #ff0000;
  font-size: 50px;
}

.close:hover {
  color: #fad700; /* Yellow on hover */
  border-color: #fad700;
}
