*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff !important;
}

.modal-content {
  background-color: #2d2d2d !important;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  max-width: 100%;
  padding: 0;
}

.success-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.message {
  font-size: 16px;
}

.btn {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #c59d5f !important;
  border-color: #c59d5f !important;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
}

.btn:hover {
  background-color: transparent !important;
  border-color: #c59d5f !important;
  color: #ffffff;
}

.img-fluid {
  width: 50px;
  height: auto;
  margin-left: 45%;
}
