*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #b7b0b0 !important;
  color: #ffffff !important;
}
.modal-content {
  background-color: #2d2d2d !important;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
  max-width: 100%;
  padding: 0px;
}
.success-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.message {
  font-size: 16px;
}
.btn {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #FAFF00 !important;
  border-color: #FAFF00 !important;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
}
.btn:hover {
  background-color: #9ba49b !important;
  border-color: #9ba49b !important;
}
.a btn{
  text-decoration: none !important;
  color: black !important;
}
.img-fluid {
  width: 50px;
  height: auto;
  margin-left: 45%;
}
.close_img {
  width: 7%;
  height: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.close_img:active {
  transform: scale(1.2);
}
