@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  overflow: auto;
  background-color: none !important;
  height: 100vh;
}

.container-fluid {
  background: url("../images/reg-bg-img.jpg") no-repeat center center/cover;
  opacity: 1;
}

.header {
  padding-bottom: 20px;
  font-size: xx-large;
}

.form-title {
  display: flex;
  justify-content: center;
  color: #c59d5f;
}

.form-style {
  padding-top: 10px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  width: 500%;
}

.input-group {
  border-radius: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 5px;
}

.form-group label {
  display: flex;
  justify-content: left;
  padding-left: 4px;
  color: white;
  font-size: 18px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

p a {
  padding-left: 10px;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 15px;
}

button {
  background-color: #c59d5f !important;
}

.custom-btn {
  color: black;
  font-size: 18px;
  padding: 3px;
  border: none !important;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fccb45;
}

.custom-btn:hover {
  background-color: #fdb560  !important;
  color: black;
}

p a:hover {
  color: #c59d5f;
  transition: background-color 0.3s, color 0.3s;

}

.invalid-feedback {
  font-size: medium;
  font-weight: 500;
  font-family: "Lato", sans-serif !important;
  padding-bottom: 0 !important;
}

/* Responsive behavior */

@media (min-width: 560px) {
  body {
    padding: 20px;
    overflow: hidden;
    height: 100vh;
  }

  .header {
    padding-bottom: 50px;
  }
  .container-fluid {
    border-radius: 10px;
    padding-bottom: 20px;
    height: 100%;
  }
}

@media (max-width: 560px) {
  .form-group {
    flex-direction: column;
    text-align: left !important;
  }

  .form-group label {
    align-self: flex-start;
    padding-left: 0;
    color: white;
    font-size: 18px;
  }

  .input-group {
    display: flex;
    align-items: left;
    align-self: flex-start;
    padding-left: 0;
    justify-content: center;
    width: 100;
  }

  .invalid-feedback {
    padding-bottom: 2px !important;
  }
}

@media (min-width: 768px) and (max-width: 922px) {
  .custom-padding {
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  .reg-form-section {
    padding-top: 20px !important;
  }
}

@media (max-width: 768px) {
  .logo_icon {
    margin-top: 10px !important;
  }

  .text-style {
    padding-top: 20px !important;
  }
}
