/*Sidebar*/
.sidebar {
  background-color: black;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  transition: all 0.1s;
}
.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}
.sidebar.logo-img {
  width: 180px;
  height: auto;
  margin-top: 40px;
}
.nav-links {
  margin-top: 70px;
}
.nav-link {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  border: 2px solid white;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s;
  border-radius: 10px;
  width: 240px;
  height: 55px;
  margin-left: 3px;
}
.nav-link:hover {
  background-color: #faff00;
  color: black;
  font-weight: bold;
}
.nav-link:active {
  background-color: #faff00;
  color: black;
  font-weight: bold;
}

/*toggle button*/
.toggle-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: none;
}
.toggle-btn {
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: bolder;
  border: 1px slid black;
  padding: 5px;
  box-shadow: none;
}
.content {
  margin-left: 320px;
  padding: 20px;
}
/*mrespnsive*/
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .sidebar.show {
    width: 250px;
    padding: 4px;
  }
  .toggle-btn {
    display: block;
  }
  .content {
    margin-left: 0;
  }
}
