/* Sidebar styles */
.sidebar {
  background-color: black;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  /* transition: all 0.01s;*/
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo-img {
  width: 180px;
  height: auto;
  margin-top: 40px;
}
.nav-links {
  margin-top: 60px;
}
.nav-link {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  border: 2px solid white;
  text-align: left;
  text-decoration: none;
  /*transition: all 0.01s;*/
  border-radius: 10px;
  width: 240px;
  height: 55px;
  margin-left: 3px;
}

.nav-link:hover {
  background-color: #fad700;
  color: black;
  font-weight: bold;
}
.nav-link.active {
  background-color: #fad700;
  color: black;
  font-weight: bold;
}
/* Toggle Button */
.toggle-container {
  padding: 10px; /* Optional: Add some padding */
  border: none;
  position: absolute;
  top: 10px;
  right: 120px;
  z-index: 1000;
  margin-right: 20px;
  padding-left: 0;
}

.toggle-btn {
  color: black;
  cursor: pointer;
  display: none;
  background-color: transparent;
  font-size: 24px; /* Adjust font size */
  font-weight: bolder;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Very light border */
  padding: 5px;
  box-shadow: none;
  z-index: 1000;
}

/* Main content */
.content {
  margin-left: 290px;
  padding: 10px;
  margin: 0;
}
body {
  overflow-x: hidden;
  background-image: linear-gradient(#6c6a6a, #1e1e1e) !important;
}
/* Media Query for small screens */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
  }

  .sidebar.show {
    width: 250px;
    padding: 4px;
    z-index: 1000; /* Ensure sidebar is in front of the content */
    overflow-y: hidden;
    position: fixed;
  }

  .content {
    margin-left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .toggle-btn {
    display: block;
    z-index: 1000;
  }
  .nav-links {
    margin-top: 20px;
  }
  .sidebar .logo {
    text-align: center;
    margin-bottom: 0;
  }
  .sidebar .logo-img {
    width: 160px;
    height: auto;
    margin-top: 30px;
  }
  body {
    overflow-x: hidden;
  }
}
